<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Random cats!</title>
    </head>
    <style>
        * { font-family: Tahoma, Verdana, Arial, sans-serif }
        .m { font-family: monospace; }
        .container { width: 800px; margin: 20px auto; padding: 20px; background-color: #fab; /* fabulous color it is! */ }
        .small { font-size: 80%; background: url({% url kittens.views.fetch_image %}); }
    </style>
    <body>
        <div class="container">
            <h1>Random cats!</h1>
            <p>This is a simple app to generate a random image of a cat. For example, 
            to get a 400x300px cat, use the following HTML snippet:</p>
            <div class="m">&lt;script type="text/javascript" src="{{ base_url }}{% url kittens.views.kitten_js width=600 height=400 %}"&gt;&lt;/script&gt;</div>
            <p>Here is a sample random 600x400px image you can get:</p>
            <script type="text/javascript" src="{% url kittens.views.kitten_js width=600 height=400 %}"></script>
            <p>All images are fetched from <a href="http://www.flickr.com/">Flickr</a> and are licensed under 
            <a href="http://www.flickr.com/creativecommons/">Creative Commons License</a>.</p>
            <p class="small">Feel free to grab the source code at <a href="https://github.com/knyar/kittens">github</a></p>
        </div>
    </body>
</html>

